.line-bar {
    background-color: black;
    width: 100%;
    height: 1px;
    opacity: .5;
}
.head-block {
    width: 100%;
    display: flex;
}
.name {
padding-left: 20px;
    padding-top: 10px;
    font-family: cursive;
}
.name-rf {
    padding-left: 90px;
    margin-top: -10px;
    opacity: .8;
    padding-bottom: 10px;
    font-family: cursive;
}
.block-number {
    display: flex;
width: 32px;
    height: 32px;
}
.second-head-block {
    margin:5px 30px auto auto;
}
.bt1 {
    margin-top: 5px;
    margin-right: 5px;
    font-family: cursive;
}
.number {
    margin-top: 5px;
    margin-left: 10px;
    font-family: cursive;
}
@media screen and (max-width: 1131px) {
    .name-rf {
        padding-left: 20px;
    }
    .line-bar {
        margin-top: 5px;
    }
}