.head-block {
    background-color: #b1b4b5;
    width: 100%;
    display: flex;
}
.name {
padding-left: 20px;
    padding-top: 10px;
}
.name-rf {
    padding-left: 90px;
    margin-top: -10px;
    opacity: .8;
    padding-bottom: 10px;
}
.block-number {
    display: flex;
width: 32px;
    height: 32px;
}
.second-head-block {
    margin:5px 150px auto auto;
}
.bt1 {
    margin-top: 5px;
    margin-right: 5px;
}
.number {
    margin-top: 5px;
    margin-left: 10px;
}