.head-block {
    background-color: #b1b4b5;
    width: 100%;
    display: block;
}
.name {
padding-left: 20px;
    padding-top: 20px;
}
.name-rf {
    position: relative;
    padding-left: 90px;
    top: -10px;
    opacity: .8;
    padding-bottom: 5px;
}
.logo-number {
width: 32px;
}