
.block-f {
    border-radius: 10px;
    height: 350px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 250px;
    margin-left: 10px;
    display: inline-block;
    margin-right: auto;
    margin-top: 10px;
}
.product-name {
    float: left;
}
/*@media screen and (max-width: 1528px) {*/
/*    .block-f {*/
/*        border-radius: 10px;*/
/*        height: 350px;*/
/*        max-width: 250px;*/
/*        background-color: white;*/
/*        box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
/*        width: 70em;*/
/*    }*/
/*}*/


